<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Training</title>
    <script src="../../libs/angular.min.js"></script>
    <script src="../../controller/app.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="serviceGetCtrl">
        <div ng-if="status=='200'">
            <h1>{{message}}</h1>
            <hr/>
            <div>
                <Strong>Name: </Strong>{{user.name}}
            </div>
            <div>
               <strong>Portfolio: </strong> <a href="{{user.blog}}"  target="_blank">{{user.blog}}</a>
            </div>
            <div>
                <strong>Personal Blog: </strong> <a href="{{user.location}}"  target="_blank">{{user.location}}</a>
            </div>
            <div>
                <img ng-src="{{user.avatar_url}}" title="{{user.name}}"/>
            </div>
        </div>
        <div ng-if="status=='500'">
            <span>{{error}}</span>
        </div>
    </div>
</body>
</html>